body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.event{
    text-align: center;
    background: white;
    width: 400px;
    height:  400px;


    
}